.wrapper {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    flex-wrap: wrap;
    align-content: space-around;
}

.box {
    width: 400px;
    height: 200px;
    background: peru;
    color: white;
}

.box:nth-child(2) {
    background-color: #000000;
    flex-shrink: 2;
}

.box:nth-child(3) {
    background-color: peru;
    flex-shrink: 3;
}