.grid {
    display: grid;
    grid-template-columns: [first-line] 100px [second-line] 100px [third-line] 100px [fourth-line] 100px [fifth-line] 100px;
    grid-template-rows: repeat(4, 100px);
}

.header {
    background-color: #02a566;
    grid-column: first-line / -1;
}

.content {
    background-color: #616465;
    grid-column: 1 / -2;
    grid-row: span 2;
}

.nav {
    background-color: thistle;
    grid-row: span 2;
}

.footer {
    background-color: blueviolet;
    grid-row: 4 / 5;
    grid-column: span 4;
}