.grid {
    display: grid;
    gap: 5px;
    height: 50vh;
    grid-template:
        "header header header header" 1fr
        "content content content nav" 2fr
        "footer footer footer footer" 1fr / 1fr 1fr 1fr 1fr;
    ;
}

.header {
    background-color: #02a566;
    grid-column: span 4;
    grid-area: header;
}

.content {
    background-color: #616465;
    grid-area: content;
}

.nav {
    background-color: thistle;
    grid-area: nav;
}

.footer {
    background-color: blueviolet;
    grid-area: footer;
}